*{
  font-family: sans-serif;
}

.game-room {
  padding-bottom: 3%;
  padding-top: 2%;
  margin-top: -0.9%;
  text-align: center;
  background-color: #1b4486;
}

.dice {
  text-align: center;
  display: inline-block;

}

.game-room .dice > p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  color: #EEEEEE;
  width: 100%;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  background-color: #393E46;
  justify-content:center;
}

@media(max-width:576px){

  .game-room {
    padding-bottom: 6%;
    padding-top: 6%;
    margin-top: -0.9%;
  }
  img {
    width: 50%;
  }

}
