
body, .topcont{
  background-color: #1b4486;
  overflow: hidden;
}

.container {
  padding-bottom: 3%;
  text-align: center;
  background-color: #393E46;
  margin: 0;
}

.dice {
  text-align: center;
  display: inline-block;

}

.container .dice > p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  color: #EEEEEE;
  width: 100%;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  background-color: #393E46;
  justify-content:center;
}
